@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #FFFAE5, #FFF6CC);
  color: #1a1a1a;
  padding: 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 24px;
  font-weight: 700;
}
.icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.login-btn {
  color: black;
  padding: 8px 20px;
  background-color: transparent;
  border: 2px solid #f3cb33;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.login-btn:hover {
  background-color: #f3cb33;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.text-section {
  flex: 1;
}

.text-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.topic-number {
  color: #f3cb33;
  font-weight: 700;
}

.desc {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.objective {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
  line-height: 1.5;
}

.signup {
  font-size: 16px;
}

.signup a {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: bold;
  border-bottom: 2px solid #f3cb33;
}

.image-section img {
  max-width: 380px;
  height: auto;
  border-radius: 20px;
  margin-top: -30px;
}